
//headlines
h1, h2 ,h3 ,h4 , h5, h6 {
font-family: 'Ubuntu', sans-serif;
color:$dark;

}

h1 {
  font-size:24px;
  margin-bottom:24px;
}

h2 {

}

h3  {

}

h4 {

}

h5 {

}

h6 {

}


//Other typo
a {

color:$blue;

}


p {

}
