@import 'vendor/bootstrap/bootstrap-reboot';
@import 'vendor/bootstrap/bootstrap-grid';
@import 'vars';
@import 'typo';
@import 'components/components';
body {
  line-height: 23px;
  font-size: 16px;
  padding-top: 80px;
}
.container-fluid {
  //padding: 0;
  overflow-x: hidden;
  @include media-breakpoint-down(xs) {
    padding: 0 15px;
  }
}
.section-full--blue {
  background:$blue;
}
