{% include "partials/head.html" %}


<body>
  <header>
    {% include "partials/navigation.html" %}
  </header>

  <main class="section">
    <div class="container">
      <div class="row">
        <div id="content" class="col-lg-9">
          {% include "components/categories.html" %}


{% block content %}
{% endblock  %}


        </div>
        <div class="col-lg-3">
          {% include "partials/sidebar.html" %}
        </div>
      </div>
    </div>
  </main>
  <script>
    window.onload = function() {
      baseliner = new Baseliner(8);
    }
  </script>
</body>

</html>
