<div class="categories">
  <ul class="categories__list">
    <li class="categories__list__item">
      <a class="categories__link" href="!#">Webdesign</a>
    </li>
    <li class="categories__list__item">
      <a class="categories__link" href="!#">Webdesign</a>
    </li>

    <li class="categories__list__item">
      <a class="categories__link" href="!#">Webdesign</a>
    </li>

    <li class="categories__list__item">
      <a class="categories__link" href="!#">Webdesign</a>
    </li>

    <li class="categories__list__item">
      <a class="categories__link" href="!#">Webdesign</a>
    </li>
    <li class="categories__list__item">
      <a class="categories__link categories__link--static" href="!#">All</a>
    </li>
  </ul>
</div>
