<article class="post row">
  <menu class="post__vote col-md-1">

    <!-- If this Buttons pressed becomes .upvoted class -->
    <button class="btn btn--has-icon post__vote-btn post__vote-btn-up">
      <i class="ion-chevron-up"></i>
    </button>
    <span class="post__vote-score">200</span>
    <!-- If this Buttons pressed becomes .downvoted class -->
    <button class="btn btn--has-icon  post__vote-btn post__vote-btn-down">
      <i class="ion-chevron-down"></i>
    </button>
  </menu>
  <div class="col-md-9">
    <div class="post--content">
      <p>
        Node.js with TypeScript does it give you more structured, maintainable code, force rules on code, or gives more problems due to lack of support and unexpected behaviors?
      </p>
    </div>
    <section class="post__user">

      <div class="post__user--avatar">

        <a href="!#">
          <img class="" src="https://s3.amazonaws.com/uifaces/faces/twitter/jsa/128.jpg" alt="Username">
        </a>
      </div>
      <div class="post__user__meta">
        <a href="!#"  class="post__user__meta--name">Marko Bolliger</a>
        <time datetime="some" class="post__user__meta--time">
          20 days ago
        </time>
      </div>
    </section>
  </div>

</article>
